---
import { getCollection } from 'astro:content';
const newsletterEntries = await getCollection('newsletter');
---
<ul>
  {newsletterEntries.map(newsletterEntry => (
    <li>
      <a href={`/newsletter/${newsletterEntry.id}`}>{newsletterEntry.data.date.toDateString()}</a>
      <time datetime={newsletterEntry.data.date.toISOString()}>
        {newsletterEntry.data.date.toDateString()}
      </time>
    </li>
  ))}
</ul>
